
.menu {
    font-family: 'Raleway', sans-serif;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.menu li {
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu a:hover{
    font-weight: 700;
    border-bottom: 2px solid var(--branco);
}

@media screen and (max-width: 1080px) {
    .menu {
        /* padding-left: 20px; */
        align-self: center;
    }   

    .menu ul {
        justify-content: space-around;
    }
}