:root {
  --fundoEmail: hsl(217, 28%, 15%);
  --fundoPrincipal: hsl(218, 28%, 13%);
  --fundoRodape: hsl(216, 53%, 9%);
  --fundoDepoimentos: hsl(219, 30%, 18%);

  --corLinksSelecionado: hsl(176, 68%, 64%);
  --corMidia-Botoes: hsl(198, 60%, 50%);
  --corErroEmail: hsl(0, 100%, 63%);

  --branco: hsl(0, 0%, 100%);
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--fundoDepoimentos);
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: var(--branco);

  /* font-family: 'Raleway', sans-serif; */
}

.blocoDepoimentos{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--fundoPrincipal);
  padding: 30px;
}